{% extends 'edc_dashboard/base.html' %}
{% load static %}

{% block main %}

{{ block.super }}

<div class="col-sm-4">&nbsp;</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-eye fa-lg fa-fw"></i> EDC Retinopathy</div>
        <div class="list-group">
            <a href="{% url 'home_url' %}" class="list-group-item">
                <i class="fas fa-reply fa-1x fa-fw" aria-hidden="true"></i> Home</a>
            <a href="{% url 'edc_retinopathy:call-list' %}" class="list-group-item">
                <i class="fas fa-phone fa-1x fa-fw" aria-hidden="true"></i> Call list</a>
            <a href="{% url 'edc_retinopathy_admin:edc_retinopathy_eyeexamregister_changelist' %}" class="list-group-item">
                <i class="fas fa-camera fa-1x fa-fw" aria-hidden="true"></i> Eye exam register</a>
            <a href="{% url 'edc_retinopathy:review-queue' %}" class="list-group-item">
                <i class="fas fa-eye fa-1x fa-fw" aria-hidden="true"></i> Review DICOM images</a>
            <a href="{% url 'edc_retinopathy_admin:edc_retinopathy_dmretinopathyscreening_changelist' %}" class="list-group-item">
                <i class="fas fa-file-alt fa-1x fa-fw" aria-hidden="true"></i> Ophthamologist's report</a>
            <a href="{% url 'edc_retinopathy_admin:edc_retinopathy_referralfollowup_changelist' %}" class="list-group-item">
                <i class="fas fa-bell fa-1x fa-fw" aria-hidden="true"></i> Follow-up on referral</a>
            <a href="{% url 'edc_retinopathy_admin:index' %}" class="list-group-item">
                <i class="fas fa-table fa-1x fa-fw" aria-hidden="true"></i> Admin</a>
        </div>
    </div>
</div>
<div class="col-sm-4">&nbsp;</div>

{% endblock main %}
